html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f6e8ff;
  margin: 0;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #7400c2;
  padding: .5em;
}

.nav-icon {
  display: block;
  max-width: 5%;
  width: 100%;
}

.people-icon {
  display: block;
  max-width: 5%;
  width: 100%;
}

header {
  display: block;
  text-align: center;
  background-color: #c685f2;
}

.main-title {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-family: Solway, serif;
}

ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: .5em;
}

ul li a {
  font-family: Solway, serif;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

ul li a:hover {
  color: #fff;
  background-color: #cc90f5;
  border-radius: 8px;
  padding-top: .33em;
  padding-bottom: .33em;
}

section {
  display: inline-block;
  text-align: center;
}

nav {
  border-bottom: solid 4px #7400c2;
  border-top: solid 4px #7400c2;
}

.seasonal-recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15em;
  text-align: center;
  border: solid 5px #c685f2;
  margin: 1em;
  padding: .5em;
  border-radius: 8px;
  background-color: #e6c5fc;
}

.gift-bundles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15em;
  text-align: center;
  border: solid 5px #c685f2;
  margin: 1em;
  padding: .5em;
  border-radius: 8px;
  background-color: #e6c5fc;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15em;
  text-align: center;
  border: solid 5px #c685f2;
  margin: 1em;
  padding: .5em;
  border-radius: 8px;
  background-color: #e6c5fc;
}
